.aboutMainSection {
  display: flex;
  gap: 5vw;
  padding-top: 5vh;
  padding-right: 5vw;
}

.home-left {
  width: 300%;
}

.leftAbout {
  flex: 0.75;
}

.rightAbout {
  flex: 1;
}

.links {
  display: flex;
  justify-content: space-between;
}


.mePics {
  width: 100%;
  height: auto;
}

.logoLinks {
  width: 2vw;
}

.linkGroup {
  display: flex;
  gap: 1vw;
}

.cva {
  font-family: "Poppins", sans-serif;
  width: auto;
  font-size: 1rem;
  align-self: center;
  background-color: #f0f0f5;
  border: 1px black solid;
  border-radius: 50px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;

}

.cva:hover {
  background-color: #81d3e6;
  cursor: pointer;
  text-decoration: none;
}