
.container {
  width: 100%;
  margin: 0 auto;
}

html,
body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
    overflow-y: hidden;
    background-color: #F0F0F5;
    color: #1F1F29;
}

a:link {
  text-decoration: none;
  color: #1F1F29;
}

a:visited {
  text-decoration: none;
  color: #1F1F29;
}

a:hover {
  text-decoration: none;
  color: rgb(230, 102, 102);
}

a:active {
  text-decoration: none;
  color: rgb(230, 102, 102);
}

/*--------NavBar1------------------------------*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #F0F0F5;
  z-index: 100;
  transition: transform 3s;
  min-width: 100%;
  padding-right: 7vw;
  height: 17vh;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.nav-bar #nav-left {
  padding-left: 7vw;
}
.nav-bar #nav-right {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5vw;
  padding-right: 7vw;
  height: 2vh;
}

.email {
  color: rgb(230, 102, 102);
}


/*--------Home------------------------------*/
#whole-home {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 17vh;
}

#staticPattern {
  display: none;
}

#staticPattern2 {
  display: none;
}

.home-left {
  padding-left: 7vw;
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: space-between;
}
  h1 {
    font-size: 3rem;
  }
   /*-------PATTERN------------------------------*/

.home-left {
  font-family: "Poppins", sans-serif;
}
.home-left .whole-pattern {
  transform: scale(0.42);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: -200px;
  translate: -29%;
}
.home-left .row1,
.home-left .row2,
.home-left .row3 {
  display: flex;
  flex-direction: row;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.home-left .shapes:hover {
  transform: scale(1.5);
  transition: 70ms;
  z-index: 100;
}
.home-left .two-rows {
  width: 270px;
}
.home-left .two-cols {
  width: 268px;
  display: flex;
}

.home-right {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-right: 100px;
  width: 15vw;
  height: 69.5vh;
  justify-content:flex-end;
  font-size: 3rem;
}

.right-links:hover {
  text-decoration: underline;
}


/*---------PROJECT-CURSORS------------------------------*/