.aboutMainSection {
  display: flex;
  gap: 5vw;
  padding-top: 5vh;
  padding-right: 5vw;
}

.home-left {
  width: 300%;
}

.leftAbout {
  flex: 0.75;
}

.rightAbout {
  flex: 1;
}

.links {
  display: flex;
  justify-content: space-between;
}

.filterBtns {
  font-family: "Poppins", sans-serif;
  width: auto;
  font-size: 1rem;
  background-color: #f0f0f5;
  border: 1px black solid;
  border-radius: 50px;
  height: 6vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 4vh;
  margin-right: 3vw;
}

.filterBtns:hover {
  background-color: #81d3e6;
}

.mePics {
  width: 100%;
  height: auto;
}

.logoLinks {
  width: 2vw;
}

.linkGroup {
  display: flex;
  gap: 1vw;
}