


@media (min-width: 1900px) and (min-height: 900px) {
  .home-left .whole-pattern {
    transform: scale(0.55);
    top: -145px;
    translate: -22.5%;
  }
}


@media (min-width: 1600px) and (min-height: 900px) {
  .home-left .whole-pattern {
    transform: scale(0.55);
    top: -145px;
    translate: -22.5%;
  }
}

@media (min-width: 1400px) and (min-height: 900px) {
  .home-left .whole-pattern {
    transform: scale(0.48);
    top: -145px;
    translate: -26%;
  }
}

@media (min-width: 1500px) and (min-height: 1000px) {
  .home-left .whole-pattern {
    transform: scale(0.55);
    top: -145px;
    translate: -22%;
  }
}

@media (min-width: 1700px) and (min-height: 1000px) {
  .home-left .whole-pattern {
    transform: scale(0.6);
    top: -100px;
    translate: -20%;
  }

}

@media (min-width: 1800px) and (min-height: 1400px) {
  .home-left .whole-pattern {
    transform: scale(0.7);
    top: -100px;
    translate: -15%;
  }
}

@media (min-width: 2200px) and (min-height: 1400px) {
  .home-left .whole-pattern {
    transform: scale(0.8);
    top: -100px;
    translate: -10%;
  }
}

@media (min-width: 2200px) and (min-height: 1200px) {
  .home-left .whole-pattern {
    transform: scale(0.8);
    top: -50px;
    translate: -10%;
  }
}

@media (min-width:2400px) and (min-height: 1400px) {
  .home-left .whole-pattern {
    transform: scale(0.8);
    top: -90px;
    translate: -10%;
  }
  
}

@media (min-width: 1180px) and (max-width: 1280px) {
  .home-left .whole-pattern {
    transform: scale(0.4);
    top: -205px;
    translate: -30.25%;
  }
}

@media (min-width: 1020px) and (max-width: 1179px) {
  html,
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .welcome {
    position: relative;
    top: 2vh;
  }

  .home-left .whole-pattern {
    transform: scale(0.345);
    top: -205px;
    translate: -32.5%;
  }

  .home-right {
    padding-right: 3vw;
    width: 100%;
    height: 73vh;
    position: relative;
    right: 1vw;
  }
}

@media (max-width: 1024px) {
  html,
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-track {
    display: none;
  }

  #nav-right {
    display: none;
  }

  .nav-bar {
    display: none;
  }

  .hr {
    top: 1vh;
    position: relative;
  }

  #whole-home {
    padding-top: 0vh;
  }

  .email {
    display: none;
  }

  .nav-bar-responsive {
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
  }

  .welcome {
    width: 94vw;
    font-size: 4rem;
    position: relative;
    margin-top: 7vh;
  }

  .whole-pattern {
    display: none;
  }

  .home-right {
    display: none;
  }
  .home-left {
    width: 94vw;
  }

  .responsive-links {
    display: flex;
    justify-content: space-between;
    gap: 15vw;
    margin-top: 3vh;
    text-align: center;
    width: 94vw;
    font-size: 4rem;
    align-items: center;
  }

  .smallPattern {
    display: block;
    padding-top: 1vh;
  }

  .footer {
    height: 20vh;
  }
}

@media (max-width: 834px) {
  .nav-bar-responsive {
    font-size: 1.25rem;
  }

  .welcome {
    font-size: 3rem;
  }

  .responsive-links {
    font-size: 3rem;
  }

  a:link {
    text-decoration: none;
    color: #1f1f29;
  }
}

@media (max-width: 510px) {
  .nav-bar-responsive {
    font-size: 1.25rem;
  }

  .welcome {
    font-size: 2.75rem;
  }

  .responsive-links {
    font-size: 2.75rem;
  }
}

@media (max-width: 414px) {
  .nav-bar-responsive {
    font-size: 1rem;
  }

  .welcome {
    font-size: 2.25rem;
  }

  .responsive-links {
    font-size: 2rem;
  }

  .smallPattern {
    padding-top: 3vh;
  }
}

@media (max-width: 320px) {
  .nav-bar-responsive {
    font-size: 0.8rem;
  }

  .welcome {
    font-size: 1.5rem;
  }

  .responsive-links {
    font-size: 1.5rem;
  }

  .smallPattern {
    padding-top: 3vh;
  }
}
