@media (min-width: 1350px) and (max-width: 1450px) {
}

@media (min-width: 1180px) and (max-width: 1350px) {
}

@media (min-width: 1112px) and (max-width: 1179px) {
}

@media (min-width: 1020px) and (max-width: 1112px) {
  .row {
    width: 69vw;
  }
}

@media (max-width: 1024px) {
  .links {
    gap: 8vw;
  }

  .responsive-links {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 97vw;
    z-index: 100;
  }

  .links {
    padding-left: 0vw;
    font-size: 1.5rem;
  }

  .b2t {
    font-size: 1.5rem;
  }

  .agma {
    margin: 0px;
    bottom: 0px;
    padding-bottom: 1vh;
  }

  .row {
    width: 94vw;
  }
  .descript {
    display: flex;
    gap: 5vw;
  }

  .leftProjectText {
    margin: 0px;
  }

  .rightProjectText {
    margin: 0px;
  }

  .projectText {
    flex-direction: column;
    font-size: 2rem;
    width: 94vw;
  }
}

@media (max-width: 834px) {
  .projectText {
    font-size: 1.5rem;
  }

  .links {
    gap: 8vw;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 510px) {
  .noPad1 {
    padding-right: 0px;
  }

  .noPad2 {
    padding-left: 0px;
  }

  .links {
    font-size: 1rem;
  }

  .b2t {
    font-size: 1rem;
  }

  .projectText {
    font-size: 1rem;
  }

  .descript {
    display: flex;
    flex-direction: column;
    gap: 6vw;
  }
}

@media (max-width: 414px) {
  .agma {
    line-height: 7vh;
  }

  .links {
    gap: 7vw;
  }
}

@media (max-width: 376px) {
  .links {
    font-size: 0.8rem;
    gap: 11vw;
  }
}

@media (max-width: 320px) {
  .links {
    font-size: 0.7rem;
    gap: 11vw;
  }
}
