.column {
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  max-width: 100%;
}

.column img:hover {
  transform: scale(1);
  transition: 200ms;
  z-index: 100;
}

.projectText {
  display: flex;
  justify-content: flex-start;
}

.rps {
  width: 25vw;
}