.home-right {
  height: 74vh;
}


.projectText {
  display: flex;
  justify-content: flex-end;
  gap: 2vw;
  padding-top: 5vh;
  padding-bottom: 4vh;
  width: 75vw;
}

.leftProjectText {
  flex: 1;
}

.rightProjectText {
  flex: 1;
  padding-right: 1vw;
}

.agma {
  font-size: 3rem;
  position: relative;
  bottom: 5vh;
  padding-right: 2vw;
  margin-bottom: 0px;

}

.links {
  display: flex;
  gap: 2vw;
  opacity: 70%;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
}
/* ------------------------------------------------ */

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  width: 75vw;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;

}

.column img:hover {
  transform: scale(1.02);
  transition: 150ms;
  z-index: 100;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.noPad1 {
  padding-right: 10px;
  padding-bottom: 10px;
}


.noPad2 {
  padding-left: 10px;
  padding-bottom: 10px;
}

/* ------------------------------------------------ */

.descript {
  display: flex;
  gap: 3vw;
}
