.projectText {
  display: flex;
  justify-content: flex-end;
  gap: 2vw;
  padding-top: 5vh;
  padding-bottom: 8vh;
  width: 77vw;
}

.leftProjectText{
  flex: 1;
}

.rightProjectText {
  flex: 1;
}

.agma {
  font-size: 3rem;
  position: relative;
  bottom: 5vh;
  padding-right: 3vw;
}

.flex-container {
  display: flex;
  gap: 2vw;
  max-width: 77vw;
  flex-direction: column;
  border: 2px solid red;
  display: -webkit-flex;
}

.two-column {
  display: flex;
  gap: 2vw;
  padding-bottom: 2vw;
  width: 77vw;
  border: 2px solid red;
}

.one-column {
  display: flex;
  gap: 2vw;
  padding-bottom: 2vw;
  border: 2px solid red;
}

.imageSingle {
  width: 77vw;
}

.one {
  height: 52.5vh;
}

.two {
    height: 44.5vh;
}

.three {
  height: 63.5vh;
}

.four {
  height: 47.5vh;
}
