html,
body {
  overflow: none;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px;
  gap: 2vw;
}

.grid-item {
  background-color: #f0f0f5;
  min-width: 64vh;
  min-height: 50vh;
  text-align: center;

}

.grid-item > img {
  object-fit: fill;
  width: 100%;
  max-height: 100%;
}

.projectBox {
  display: flex;
}

.filterBtns {
  font-family: "Poppins", sans-serif;
  width: auto;
  font-size: 1rem;
  background-color: #f0f0f5;
  border: 1px black solid;
  border-radius: 50px;
  height: 6vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.filterSection {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding-top: 5vh;
  padding-bottom: 8vh;
}

.filterBy {
  font-size: 0.75rem;
  padding-bottom: 4vh;
}

.filterBtns:hover {
  background-color: #ffb157;
}

/* -------------------------------SCROLLBAR  */

::-webkit-scrollbar {
  width: .45vw;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f5;

}

::-webkit-scrollbar-thumb {
  background-color: #CD5E57;;
  border-radius: 50vw;
}

