
@media (min-width: 1350px) and (max-width: 1450px) {
  .grid-item {
    min-width: 57vh;
    min-height: auto;
  }

}



@media (min-width: 1180px) and (max-width: 1350px) {

  .grid-item {
    min-width: 50vh;
    min-height: auto;
  }


}

@media (min-width: 1112px) and (max-width: 1179px) {

    
  .grid-item {
    min-width: 47vh;
    min-height: auto;
  }
}

@media (min-width: 1020px) and (max-width: 1112px) {
  html,
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .grid-item {
    min-width: 41vh;
    min-height: auto;
  }
}

@media (max-width: 1024px) {



  .responsive-links {
    width: 94vw;
    font-size: 4rem;
    align-items: center;
    padding-left: 3vw;
    margin-right: 0px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #f0f0f5;
    margin-top: 4vh;
    margin-bottom: 4vh;
  }



  .grid-container {
    grid-template-columns: auto;
      font-size: 1.5rem;
  }

  .filterBtns {
    height: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.5rem;
  }

  .filterSection {
    gap: 1.5vw;
    padding-top: 4vh;
    padding-bottom: 1vh;

  }

  .filterBy {
    padding-bottom: 3vh;
    font-size: 1.5rem;
  }

  .b2t {
    font-size: 1.5rem;
  }
}

@media (max-width: 834px) {
  .responsive-links {
    font-size: 3rem;
  }
  .filterSection {
    gap: 3vw;

  }

}

@media (max-width: 510px) {
  .nav-bar-responsive {
    font-size: 1rem;
  }
  .responsive-links {
    margin-top: 4vh;
    width: 94vw;
    font-size: 2rem;
  }

  .grid-item {
    min-width: 40vh;
    min-height: 30vh;
  }

  .title {
    margin-top: 0.5vh;
    margin-bottom: 3.5vh;
  }

  .grid-container, .b2t, .filterBtns, .filterBy {
      font-size: 1rem;
    }


    .reveal{
      position: relative;
      transform: translateY(0px);
      opacity: 100;
      transition: none;
    }
    
    .active{
    transform: translateY(0px);
    opacity: 1;
    } 
    
    

    
}

@media (max-width: 414px) {
  .filterSection {
    gap: 3vw;
  }

  .filterBy {
    padding-bottom: 2.5vh;
  }
}

@media (max-width: 320px) {
  .filterSection {
    gap: 5vw;
  }

  .filterBy {
    padding-bottom: 8vh;
    width: 30vw;
    font-size: 0.8rem;
  }

  .responsive-links {
    margin-top: 7vh;
    width: 94vw;
    font-size: 2rem;
  }

  .nav-bar-responsive {
    font-size: 0.8rem;
  }

  .filterBtns {
    height: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
