
@media (min-width: 1180px) and (max-width: 1280px) {
}

@media /*(min-width: 30em) and */(min-width: 1020px) and (max-width: 1179px){

  .leftAbout {
flex: 1;
  }

}


@media /*(min-width: 30em) and */(max-width: 1024px) {


  .responsive-links {
padding-left: 3vw;
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
background-color: #f0f0f5;
  }


  .aboutMainSection {
flex-direction: column;
gap: 0vh;
  }

  .mePicsResponsive {
    display: block;
width: auto;
    height: 50vw;
  }

  .leftAbout {
    display: flex;
    gap: 5vw;
    width: 94vw;
  }

  .rightAbout {
    width: 40vw;
  }

  .footer {
    height: 20vh;
  }

  .logoLinks {
    width: 3vw;
    padding-top: 1vh;
  }

  .hidden {
    display: block;
  }
}


@media /*(min-width: 30em) and */(max-width: 834px) {


  .leftAbout {
flex-direction: column;
  }

  .mePicsResponsive {
    display: block;
width: 94vw;
    height: auto;
  }
  .rightAbout {
    width: 94vw;
  }
}

@media /*(min-width: 30em) and */(max-width: 510px) {

}


@media /*(min-width: 30em) and */(max-width: 414px) {
  .logoLinks {
    width: 10vw;
    gap: 5vw;
    padding-top: 1vh;
  }
  .linkGroup {
    gap: 5vw;
  }
}

@media /*(min-width: 30em) and */(max-width: 320px) {

}
