@media (min-width: 1180px) and (max-width: 1280px) {
}

@media (min-width: 1020px) and (max-width: 1179px) {
  .leftAbout {
    flex: 1;
  }
}

@media (max-width: 1024px) {
  .responsive-links {
    padding-left: 3vw;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: #f0f0f5;
    padding-top: 1vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  #whole-home p {
    font-size: 1.5rem;
  }

  .aboutMainSection {
    flex-direction: column;
    gap: 0vh;
  }

  .mePicsResponsive {
    display: block;
    width: auto;
    height: 40vw;
  }

  .leftAbout {
    display: flex;
    gap: 5vw;
    width: 94vw;
  }

  .rightAbout {
    width: 94vw;
  }

  .footer {
    height: 20vh;
  }

  .logoLinks {
    width: 3vw;
    padding-top: 1vh;
  }

  .hidden {
    display: block;
  }
}

@media (max-width: 834px) {
  .leftAbout {
    flex-direction: column;
  }

  .mePicsResponsive {
    display: block;
    width: 94vw;
    height: auto;
  }
  .rightAbout {
    width: 94vw;
  }
}

@media (max-width: 510px) {
  #whole-home p {
    font-size: 1.25rem;
  }
}

@media (max-width: 414px) {
  .logoLinks {
    width: 10vw;
    gap: 10vw;
    display: none;
  }
  .linkGroup {
    gap: 5vw;
  }

  .links {
    flex-direction: column;
    justify-content: flex-start;
  }

  .cva {
    align-self: flex-start;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    margin-top: 1vh;
    padding-bottom: 1vh;
  }
}

@media (max-width: 320px) {
  #whole-home p {
    font-size: 1rem;
  }
}
